<div id="<%= dom_id duct %>">
  <p>
    <strong>Width:</strong>
    <%= duct.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= duct.height %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= duct.length %>
  </p>

  <p>
    <strong>Line type:</strong>
    <%= duct.line_type %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= duct.location %>
  </p>

  <p>
    <strong>Floors:</strong>
    <%= duct.floors %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= duct.position %>
  </p>

  <p>
    <strong>Duct line:</strong>
    <%= duct.duct_line_id %>
  </p>

</div>
