<div class="duct-line-form">
  <h1><%= @duct.duct_line.name %> - <%= @duct.position %></h1>

  <div class="duct-details">
    <p><strong>Location:</strong> <%= @duct.location %></p>
    <p><strong>Floor:</strong> <%= @duct.floors %></p>
    <p><strong>Position:</strong> <%= @duct.position %></p>
    <p><strong>Line Type:</strong> <%= @duct.line_type %></p>
    <p><strong>Width:</strong> <%= @duct.width %></p>
    <p><strong>Height:</strong> <%= @duct.height %></p>
    <p><strong>Length:</strong> <%= @duct.length %></p>
  </div>

  <div class="duct-line-actions">
    <%= link_to 'Edit', edit_duct_path(@duct), class: 'btn btn-primary' %>
    <%= link_to 'Back', ducts_path, class: 'btn btn-secondary' %>
    <%= button_to 'Delete', @duct, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>