<h1>Duct Lines</h1>

<div class="duct-lines-container">
  <% @duct_lines.each do |duct_line| %>
    <div class="duct-line-card">
      <h2><%= duct_line.name %></h2>
      <div class="duct-line-image">
        <% if duct_line.image.attached? %>
          <%= image_tag duct_line.image, class: "thumbnail" %>
          <%= link_to "Download Image", rails_blob_path(duct_line.image, disposition: "attachment"), class: 'download-btn' %>
        <% else %>
          <p>No image available</p>
        <% end %>
      </div>
      <div class="duct-line-pdf">
        <% if duct_line.pdf_document.attached? %>
          <%= link_to "Download PDF", rails_blob_path(duct_line.pdf_document, disposition: "attachment"), class: 'download-btn' %>
        <% else %>
          <p>No PDF available</p>
        <% end %>
      </div>
      <div class="duct-line-actions">
        <%= link_to 'View', duct_line, class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_duct_line_path(duct_line), class: 'btn btn-secondary' %>
        <%= link_to 'Delete', duct_line_path(duct_line), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Duct Line', new_duct_line_path, class: 'btn btn-success' %>