<div class="duct-line-form">
  <h1><%= @duct_line.name %></h1>

  <div class="image-container">
    <% if @duct_line.image.attached? %>
      <%= image_tag @duct_line.image, class: "full-size" %>
      <%= link_to "Download Image", rails_blob_path(@duct_line.image, disposition: "attachment"), class: 'download-btn' %>
    <% else %>
      <p>No image available</p>
    <% end %>
  </div>

  <div class="duct-line-pdf">
    <% if @duct_line.pdf_document.attached? %>
      <%= link_to "Download PDF", rails_blob_path(@duct_line.pdf_document, disposition: "attachment"), class: 'download-btn' %>
    <% else %>
      <p>No PDF available</p>
    <% end %>
  </div>

  <h2>Ducts</h2>
  <div class="ducts-grid">
    <% @duct_line.ducts.each do |duct| %>
      <div class="duct-card">
        <h3><%= duct.position %></h3>
        <div class="duct-details">
          <p><strong>Line Type:</strong> <%= duct.line_type %></p>
          <p><strong>Location:</strong> <%= duct.location %></p>
          <p><strong>Floor:</strong> <%= duct.floors %></p>
          <p><strong>Width:</strong> <%= duct.width %></p>
          <p><strong>Height:</strong> <%= duct.height %></p>
          <p><strong>Length:</strong> <%= duct.length %></p>
        </div>
        <div class="duct-actions">
          <% if session[:user_id] %>
            <%= link_to 'View', duct, class: 'btn btn-primary' %>
            <%= link_to 'Edit', edit_duct_path(duct), class: 'btn btn-secondary' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="duct-line-actions">
    <%= link_to 'Back', duct_lines_path, class: 'btn btn-secondary' %>
    <% if session[:user_id] %>
      <%= link_to 'Edit', edit_duct_line_path(@duct_line), class: 'btn btn-primary' %>
      <%= link_to 'Add New Duct', new_duct_path(duct_line_id: @duct_line.id), class: 'btn btn-success fixed-add-duct' %>
      <%= button_to 'Delete', @duct_line, method: :delete, data: { confirm: 'Are you sure?', turbo: false }, class: 'btn btn-danger', form_class: 'inline' %>
    <% end %>
    <%= button_to 'Get QR' , '#', id: "get_qr", class: "btn btn-primary", :onclick => "return false;" %>
  </div>
  <br>
    <img id="qr" style="width: 200px; height: 200px; display: none" src="<%= @png %>" />
  <div style="display: flex; justify-content: center">
    <button style="width: 40px; display: none; margin-top: 10px" class="btn btn-primary" id="hide">HIDE</button>
    <button style="width: 40px; display: none; margin-top: 10px;" class="btn btn-primary" id="save">SAVE</button>
  </div>
  <script>
    document.getElementById("get_qr").addEventListener("click", function(){
      document.getElementById("qr").style.display = "block";
      document.getElementById("hide").style.display = "inline";
      document.getElementById("save").style.display = "inline";
    });

    document.getElementById("hide").addEventListener("click", function(){
      document.getElementById("qr").style.display = "none";
      document.getElementById("hide").style.display = "none";
      document.getElementById("save").style.display = "none";
    });

    document.getElementById("save").addEventListener("click", function(){
      var link = document.createElement('a');
      link.href = document.getElementById("qr").src;
      link.download = "duct.png";
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    });
  </script>
</div>